{% extends 'L4Main.html' %}

{% block head %} 
  <title>Inventory Management</title>
{% endblock %}

{% block body %}

  {% for item in items %}
    <div  id="itemList" class="row">
        <div style="width: 100%">{{item}}</div>
        <div ><button><a href = "/delete{{ item[1] }}"><i class="mi">delete</i></a></button></div>
        <a href="/modify" class="button">edit</a>
    </div>
  {% endfor %}
  <button><a href = "/"> Return </a></button>

{% endblock %}

{%block foot%}
  <p>Copyright &copy; 2022, K&S Snack Kiosk</p>
{% endblock %}