<!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename='/L4UI.css')}}">
    {% block head %}  
    <title>Inventory Management</title> 
    {%  endblock %}
  </head>

  <body>
    {% block body %}
    <!-- (A) ITEMS LIST -->
    <header>
      <h1>K & S Snack Kiosk</h1>
    </header>
   

    <div class="container">

        <!-- add buttons -->
        <div class="navbar">
          <button><a href="/search">search</a></button>
          <br>
          <button><a href="/newitem" >new item</a> </button>
          <br>
          <button><a href="/modify" class="button">edit</a></button>
        </div>
        
      <!--</div>-->
    </div>

    <div class="dashboard">
      <h2>Preview</h2>
        <div id="item-preview">
          {% for item in items %}
            <div  id="itemList" class="row">
                {{item}}
                <br>
                <a href="/modify" class="button">edit</a>
            </div>
          {% endfor %}
        </div>
          
    </div>
    {% endblock %}

    <footer>
        {%block foot%}
          <p>Copyright &copy; 2022, K&S Snack Kiosk</p>
        {% endblock %}
    </footer>
  </body>
</html>
