<!DOCTYPE html>
<html>
  <html lang="en">

  <head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="static/L4UI.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename='/L4UI.css')}}">
    {% block head %}  
    <title>Inventory Management</title> 
    {%  endblock %}
  </head>

  <body>
    {% block body %}
    <!-- (A) ITEMS LIST -->
    <header>
      <h1>K & S Snack Kiosk</h1>
    </header>


    <div class="container">

        <!-- add buttons -->
        <div class="navbar">
         
         <a href="/search" style="text-decoration:none"><div id="itemAdd" class="row">
            <i class="mi">search</i> Search
          </div></a>
          <br>
          <a href="/modify" style="text-decoration:none"><div id="itemAdd" class="row">
            <i class="mi">edit</i> Edit
          </div></a>
          <br>
          <a href="/adddelete" style="text-decoration:none"><div id="itemAdd" class="row">
            <i class="mi">add_box</i>/<i class="mi">delete</i>Add/Delete
          </div></a> <!-- add/delete button -->
          <br>
          <a href="/orderitems" style="text-decoration:none"><div id="itemAdd" class="row">
            <i class="mi">email</i> Order Items
          </div></a> <!-- email button -->
        </div>

    </div>

    <div class="dashboard">
      <h2>Preview</h2>
        <div id="item-preview">
          {% for item in items %}
            <div  id="itemList" class="row">
                <div style="width: 100%">{{item}}</div>
                <div ><button><a href = "/delete{{ item[1] }}"><i class="mi">delete</i></a></button></div>
                <a href="/modify" class="button">edit</a>
            </div>
          {% endfor %}
          <button><a href = "/"> Return </a></button>
        </div>

    </div>
    {% endblock %}

    <footer>
        {%block foot%}
          <p>Copyright &copy; 2022, K&S Snack Kiosk</p>
        {% endblock %}
    </footer>
  </body>
</html>

