<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="static/L4UI.css">
  </head>
  <body>
    <!-- ITEMS LIST -->
    <h1>Items</h1>

    <div id="itemWrap">

      <div id="itemAdd" class="row">
	<a href="/search"><i class="mi">search</i></a> <!-- add new button -->
         
      </div>

      <a href="/adddelete" style="text-decoration:none"><div id="itemAdd" class="row">
        <i class="mi">add_box</i>/<i class="mi">delete</i>Add/Delete
      </div></a> <!-- add/delete button -->

      <a href="/adddelete" style="text-decoration:none"><div id="itemAdd" class="row">
        <i class="mi">email</i> Order Items
      </div></a> <!-- email button -->

        {% for item in items %}
        <div  id="itemList" class="row">

          <div style="width: 100%">
            {{item}}
            <a href="L4ModifyItem.html" class="button">edit</a>
          </div>
          <div  style="display: inline-block; text-align: right; width: 45%">
        </div>

      </div>
        {% endfor %}


    </div>
      
    </div>
  </body>
</html>
