{% extends 'L4Main.html' %}

{% block head %} 
  <title>Inventory Management</title>
{% endblock %}

{% block body %} 
<div class="container">
    <!-- (B) SEARCH ITEM -->
  <h1>Search for an Item</h1>

    <form method = "post">
        <h2><legend>Choose a field to search with:</legend></h2>

        <div id="itemName">
          <label for="itemName">Item Name:</label>
          <input type="text" id="iteN" name="itemN">
        </div>

        <div id="itemNumber">
          <label for="ite#">Item ID:</label>
          <input type="text" id="ite#" name="item#" >
        </div>

    <input type = "submit"> <button><a href = "/"> Return </a></button>
    <br>
    <br>
    <!-- <div id="itemFound" class="row">{{info}}</div> -->	     
    </form>
</div>
  
{% endblock %}

{%block foot%}
<p>Copyright &copy; 2022, K&S Snack Kiosk</p>
{% endblock %}


